#root {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: large;
}

.aboutText {
    text-align: left;
    padding: 5%;
}

.app-wrapper {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-bottom: 60px; 
    margin-top: 60px;
    
}

body {
    --black: #010101;
    --invertible-black: #010101;
    --red: #9d2323;
    --grey: lightgrey;
    --white: white;
    --invertible-white: white;
    background:var(--invertible-white);
    color: var(--invertible-black);
}

.dark-mode {
        --invertible-black: white;
        --invertible-white: #010101;
        color: var(--white);
        background: var(--black);
    }

.header-profile {
    color: var(--red);
}

a {
    color: var(--invertible-black);
    text-decoration: none;
}

.button {
    border: none;
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    background-color: rgb(173, 173, 173);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 8px;
    min-width: 65%;

  }

  .button a, .back-button a {
    color:var(--black);
    font-weight: bold;
    display: block;
  }

  .back-button {
    background-color: rgb(173, 173, 173);
    color: var(--black);
    border: none;
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    padding: 5px;
    border-radius: 8px;
  }

.back-button-div {
    font-weight: bold;
    padding: 20px;
    text-align: left;
    padding: 10 20px;
    background: var(--invertible-white);
  }

.call911__section {
    background-color: var(--red);
    border-radius: 8px;
    border-bottom: 3px solid rgb(102, 3, 3);
    padding: 10px;
    margin: 10px;
}

.call911__headline {
    font-weight: bold;
    color: white;
}

.call911__button {
    border: none;
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 8px;
    min-width: 70%;
}

.call911__button a {
    color:var(--black);
    display: block;
}

.call911__button svg {
    height: 15px;
    width: 15px;
}

.organization-tile {
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    background: lightgrey;
    border-radius: 8px;
    border-bottom: 3px solid darkgrey;
    color: var(--black); 
}

.organization-tile svg {
    height: 15px;
    width: 15px;
}

.organization-tile svg path{
    fill: var(--red);
}

.organization-tile .call-button {
    max-width: 100px;
    min-width: 100px;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-weight: bold;
    padding: 20px;
    background: var(--invertible-white);
}

.NavBar svg {
    height: 30px;
    width: 30px;
    fill: var(--invertible-black);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    vertical-align: middle;
}

footer {
    font-size: small;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    padding: 20px;
    padding-left: 15%;
    padding-right: 15%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: var(--invertible-white);
    color: var(--invertible-black);
}