#root {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 99%;
    justify-content: space-between;
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    top: 5%;
    left: 5%;
    margin-right: -5%;
    transform: translate(-5%, -5%);
    text-align: center;
}

body {
    background: #010101;
    color: lightgray; 
}

.app-wrapper {
    @media screen and (max-width: 45em) {
        width: 100%;
        height: 200px;
    }
}

.text-profile {
    max-width: 100%;
}

.header-profile {
    color: #9d2323;
}

a {
    color: #010101;
    text-decoration: none;
}

.call911__button {
    border: none;
    background-color: 9da3a3;
    color:#9d2323;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    min-width: 70%;
}

.call911__button a {
    color:#9d2323;
    font-weight: bold;
    display: block;
}

.button {
    border: none;
    background-color: #9da3a3;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 8px;
    min-width: 60%;
  }

  .button a, .back-button a {
    color:#010101;
    font-weight: bold;
    display: block;
  }

  .back-button {
    background-color: #9da3a3;
    color:#010101;
    border: none;
    padding: 5px;
    border-radius: 8px;
    position: absolute;
    top:5%;
    left: 5%;
    transform: translateY(-50%);
  }

.call911__section {
    background-color: #9d2323;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
    font-size: 130%;
}